{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Login and Signup Form</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/userlogin/style.css' %}">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <section class="container forms">
        <!-- Login Form -->
        <div class="form login">
            <div class="form-content">
                {{msg}}
                <header>Member Login❤️‍🩹</header>
                <form method="post" action="{% url 'sign_in' %}">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="text" name="email" placeholder="Email" class="input" required>
                    </div>

                    <div class="field input-field">
                        <input type="password" name="password2" placeholder="Password" class="password" required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div>

                    <div class="field button-field">
                        <button type="submit" name="login">Login</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="media-options">
                <!-- <a href="#" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>
                    <span>Login with Facebook</span>
                </a> -->

                <!-- Google Sign-In Button -->
                <div id="g_id_onload"
                    data-client_id="320906098691-17sbvs8jnf5eu09ibk8j1ma4vjslauh1.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-login_uri="/auth_receiver/"
                    data-auto_prompt="false">
                </div>
                <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
                    data-text="signin_with" data-size="large" data-logo_alignment="left"></div>
            </div>
        </div>

        <!-- Signup Form -->
        <div class="form signup">
            <div class="form-content">
                <header>Signup</header>
                <form method="post" action="{% url 'create' %}">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="text" name="email" placeholder="Email" class="input" required>
                    </div>

                    <div class="field input-field">
                        <input type="password" name="password1" placeholder="Create password" class="password" required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field input-field">
                        <input type="password" name="password2" placeholder="Confirm password" class="password" required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button type="submit" name="signup">Signup</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                </div>
            </div>

            <!-- <div class="line"></div> -->

            <div class="media-options">
                <!-- <a href="#" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>
                    <span>Login with Facebook</span>
                </a> -->
            </div>
        </div>
    </section>

    <script>
        function handleSignInError(error) {
            console.error("Sign-In Error:", error.message || error);
        }

        window.onload = function() {
            try {
                google.accounts.id.initialize({
                    client_id: "320906098691-17sbvs8jnf5eu09ibk8j1ma4vjslauh1.apps.googleusercontent.com",
                    callback: (response) => {
                        // Handle successful response
                        console.log("Google Sign-In Response:", response);
                        fetch('/auth_receiver/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            body: `credential=${response.credential}`
                        }).then(response => {
                            if (!response.ok) {
                                throw new Error("Failed to authenticate");
                            }
                            window.location.href = '/';
                        }).catch(handleSignInError);
                    }
                });

                google.accounts.id.renderButton(
                    document.querySelector(".g_id_signin"),
                    { theme: "outline", size: "large" }
                );

                google.accounts.id.prompt();
            } catch (error) {
                handleSignInError(error);
            }
        };
    </script>

    <script src="{% static 'js/userlogin/script.js'%}"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</body>

</html>
