/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3058d4;
    color: #fff;
}

/* FitQ logo and header styling */
header {
    background-color: #4070f4;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.logo h1 {
    color: #fff;
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
    position: absolute;
    left: 20px;
}

/* Form container styling */
.container {
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000;
}

h1 {
    text-align: center;
    color: #4070f4;
}

/* Progress bar styling */
.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 20px 0;
    height: 10px;
    width: 100%;
}

.progress {
    background-color: #4070f4;
    height: 100%;
    border-radius: 5px;
    width: 0;
    transition: width 2s ease;
}

/* Form step styling */
.form-step {
    display: none;
    height: 320px; /* Set a fixed height for all steps */
    width: 100%; /* Make sure all steps are the same width */
}

.form-step.active {
    display: block;
}

button {
    background-color: #4070f4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3058d4;
}

/* Button container styling */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Error message styling */
.error {
    color: red;
    font-size: 14px;
}

/* Form input and select styling */
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Center the welcome message */
.welcome-message {
    text-align: center; /* Center text */
}

.bold-label {
    font-weight: bold;
}

.review-header {
    text-align: center;
    margin-bottom: 20px;
}

/* Style for smaller text */
.small-text {
    font-size: 0.8em; /* Smaller text size */
    display: block; /* Ensure it's treated as a block element */
    margin-top: 5px; /* Add some space above */
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 15px;
    }
}
