{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Consulting</title>
    <link rel="stylesheet" href="{% static 'css/userdashboard/app.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }


        .book-btn {
            background-color: #28a745;
            color: white;
            padding: 8px 12px;
            text-decoration: none;
            border-radius: 5px;
        }

        .book-btn:hover {
            background-color: #218838;
        }

        .table-container {
            margin: 20px auto;
            width: 60%;
            margin-left: 350px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>

    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="sidebar-logo">
            <img src="{% static 'images/logo/FitQ.png'%}" alt="Company logo">
            <div class="sidebar-close" id="sidebar-close">
                <i class='bx bx-left-arrow-alt'></i>
            </div>
        </div>
        <div class="sidebar-user">
            <div class="sidebar-user-info">
                {% if user_details.gender == "Male" %}
                <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="Male Avatar" class="profile-image">
                {% elif user_details.gender == "Female" %}
                <img src="https://randomuser.me/api/portraits/women/10.jpg" alt="Female Avatar" class="profile-image">
                {% else %}
                <img src="https://randomuser.me/api/portraits/lego/2.jpg" alt="Default Avatar" class="profile-image">
                {% endif %}
                <div class="sidebar-user-name">
                    {{ request.user.username }} <!-- Use the logged-in user's username -->
                </div>
            </div>
        </div>
        <!-- SIDEBAR MENU -->
        <ul class="sidebar-menu">
            <li>
                <a href="{% url 'userdashboard' %}">
                    <i class='bx bx-home'></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-chart'></i>
                    <span>Analytics</span>
                </a>
            </li>
            <li class="sidebar-submenu" class="active">
                <a href="{% url 'edit_profile' %}" class="sidebar-menu-dropdown">
                    <i class='bx bx-user-circle'></i>
                    <span>Edit Profile</span>
                </a>
            </li>
            <li>
                <a href="{% url 'trainer_consulting' %}">
                    <i style="margin-left: 2px;" class="fa-duotone fa-solid fa-user-doctor fa-xl"
                        style="--fa-primary-color: #0f0f0f; --fa-secondary-color: #000000;"></i>
                    <span><b>Trainer Consulting</b></span>
                </a>
            </li>
            <li>
                <a href="{% url 'daily' %}">
                    <i class="fa-solid fa-bars-progress fa-xl" style="color: #4b494a;"></i>
                    <span><b>Monitoring</b></span>
                </a>
            </li>
            <li>
                <a href="{% url 'feedback' %}">
                    <i class='bx bx-mail-send'></i>
                    <span>Feedback</span>
                </a>
            </li>
            <li>
                <a href="{% url 'chatbot' %}">
                    <i class='bx bx-chat'></i>
                    <span>Chatbot</span>
                </a>
            </li>
            <li>
                <a href="{% url 'usercalender' %}">
                    <i class='bx bx-calendar'></i>
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a href="{% url 'index' %}">
                    <i class='bx bx-chat'></i>
                    <span>Logout</span>
                </a>
            </li>
            <!-- END SIDEBAR MENU -->
    </div>


    <div class="table-container">
        <h1>Trainer Consulting</h1>
        <table>
            <thead>
                <tr>
                    <th>Trainer ID</th>
                    <th>Trainer Name</th>
                    <th>Photo</th>
                    <th>Specialization</th>
                    <th>Book Option</th>
                </tr>
            </thead>
            <tbody>
                {% for trainer in trainers %}
                <tr>
                    <td>{{ trainer.user.id }}</td>
                    <td>{{ trainer.user.email }}</td>
                    <td><img src="{{ trainer.photo.url }}" alt="Trainer Photo"></td>
                    <td>{{ trainer.specialization }}</td>
                    <td><a href="#" class="book-btn">Book Now</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No trainers available for booking at the moment.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>