{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        User Dashboard
    </title>
    <link rel="shortcut icon" href="/images/logo-mb.png" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
    <link rel="stylesheet" href="{% static 'css/userdashboard/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/userdashboard/grid.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="sidebar-logo">
            <img src="{% static 'images/logo/FitQ.png'%}" alt="Comapny logo">
            <div class="sidebar-close" id="sidebar-close">
                <i class='bx bx-left-arrow-alt'></i>
            </div>
        </div>
        <div class="sidebar-user">
            <div class="sidebar-user-info">
                <img src="{% static 'images/userdashboard/user-image.jpg'%}" alt="User picture" class="profile-image">
                <div class="sidebar-user-name">
                    Nandhana
                </div>
            </div>

        </div>
        <!-- SIDEBAR MENU -->
        <ul class="sidebar-menu">
            <li>
                <a href="#" class="active">
                    <i class='bx bx-home'></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-chart'></i>
                    <span>analytics</span>
                </a>
            </li>
            <li class="sidebar-submenu">
                <a href="#" class="sidebar-menu-dropdown">
                    <i class='bx bx-user-circle'></i>
                    <span>Edit Profile</span>
                    <!-- <div class="dropdown-icon"></div> -->
                </a>
            </li>
            <!-- <li class="sidebar-submenu">
                <a href="#" class="sidebar-menu-dropdown">
                    <i class='bx bx-category'></i>
                    <span>project</span>
                    <div class="dropdown-icon"></div>
                </a>
                <ul class="sidebar-menu sidebar-menu-dropdown-content">
                    <li>
                        <a href="#">
                            list
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            add project
                        </a>
                    </li>
                </ul>
            </li> -->
            <!-- <li class="sidebar-submenu">
                <a href="#" class="sidebar-menu-dropdown">
                    <i class='bx bx-category'></i>
                    <span>e-commerce</span>
                    <div class="dropdown-icon"></div>
                </a>
                <ul class="sidebar-menu sidebar-menu-dropdown-content">
                    <li>
                        <a href="#">
                            list product
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            add product
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            orders
                        </a>
                    </li>
                </ul>
            </li> -->
            <li>
                <a href="#">
                    <i style="margin-left: 2px;" class="fa-duotone fa-solid fa-user-doctor fa-xl"
                        style="--fa-primary-color: #0f0f0f; --fa-secondary-color: #000000;"></i>
                    <span><b>Doctor Consulting</b></span>
                </a>
            </li>
            <li>
                <a href="{% url 'daily' %}">
                    <i class="fa-solid fa-bars-progress fa-xl" style="color: #4b494a;"></i>
                    <span><b>Monitoring</b></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-mail-send'></i>
                    <span>Feedback</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-chat'></i>
                    <span>chat</span>
                </a>
            </li>
            <li>
                <a href="{% url 'usercalender' %}">
                    <i class='bx bx-calendar'></i>
                    <span>calendar</span>
                </a>
            </li>
            <li class="sidebar-submenu">
                <a href="#" class="sidebar-menu-dropdown">
                    <i class='bx bx-cog'></i>
                    <span>settings</span>
                    <div class="dropdown-icon"></div>
                </a>
                <ul class="sidebar-menu sidebar-menu-dropdown-content">
                    <li>
                        <a href="#" class="darkmode-toggle" id="darkmode-toggle">
                            darkmode
                            <span class="darkmode-switch"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->

    <!-- MAIN CONTENT -->
    <div class="main">
        <div class="main-header">
            <div class="mobile-toggle" id="mobile-toggle">
                <i class='bx bx-menu-alt-right'></i>
            </div>
            <div class="main-title" style="display: flex; justify-content: space-between; align-items: center;">
                <p id="greeting" style="margin: 0; text-align: center;"></p>
                <button class="btn btn-outline" style="margin-left: auto; margin-left: 980px;"><a
                        href="{% url 'index' %}">
                        <i class='bx bx-log-out bx-flip-horizontal'></i></a>
                </button>
            </div>


        </div>
        <div class="main-content">
            <div class="row">
                <div class="col-3 col-md-6 col-sm-12">
                    <div class="box box-hover">
                        <!-- COUNTER -->
                        <div class="counter">
                            <div class="counter-title">
                                Height
                            </div>
                            <div class="counter-info">
                                <div class="counter-count">
                                    30.5 %
                                </div>
                                <i class="fa-solid fa-person"></i>
                            </div>
                        </div>
                        <!-- END COUNTER -->
                    </div>
                </div>
                <div class="col-3 col-md-6 col-sm-12">
                    <div class="box box-hover">
                        <!-- COUNTER -->
                        <div class="counter">
                            <div class="counter-title">
                                Weight
                            </div>
                            <div class="counter-info">
                                <div class="counter-count">
                                    30.5%
                                </div>
                                <i class="fa-solid fa-weight-scale"></i>
                            </div>
                        </div>
                        <!-- END COUNTER -->
                    </div>
                </div>
                <div class="col-3 col-md-6 col-sm-12">
                    <div class="box box-hover">
                        <!-- COUNTER -->
                        <div class="counter">
                            <div class="counter-title">
                                total profit
                            </div>
                            <div class="counter-info">
                                <div class="counter-count">
                                    $9,780
                                </div>
                                <i class='bx bx-line-chart'></i>
                            </div>
                        </div>
                        <!-- END COUNTER -->
                    </div>
                </div>
                <div class="col-3 col-md-6 col-sm-12">
                    <div class="box box-hover">
                        <!-- COUNTER -->
                        <div class="counter">
                            <div class="counter-title">
                                Workout </div>
                            <div class="counter-info">
                                <div class="counter-count">
                                    Active
                                </div>
                                <i class="fa-solid fa-dumbbell"></i>
                            </div>
                        </div>
                        <!-- END COUNTER -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3 col-md-6 col-sm-12">
                    <!-- TOP PRODUCT -->


                    <!-- TOP PRODUCT -->
                </div>


                <div class="container-fluid" style="margin-left: 150px;">
                    <div class="row">
                        <!-- FITNESS AND WELLNESS VIDEO -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="box f-height"
                                style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; padding: 15px; background-color: #fff;">
                                <div class="box-header"
                                    style="font-size: 1.5rem; font-weight: bold; margin-bottom: 10px;">
                                    Daily Fitness Training
                                </div>
                                <div class="box-body" style="text-align: center;">
                                    <iframe width="400px" height="300" src="https://www.youtube.com/embed/dJlFmxiL11s"
                                        title="Fitness and Wellness Video" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>

                        <!-- ANIMATED VIDEO -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="box f-height"
                                style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 10px; padding: 15px; background-color: #fff;">
                                <div class="box-header"
                                    style="font-size: 1.5rem; font-weight: bold; margin-bottom: 10px;">
                                    Create a Daily Workout Routine
                                </div>
                                <div class="box-body" style="text-align: center;">
                                    <iframe width="400px" height="300" src="https://www.youtube.com/embed/U9ENCvFf9yQ"
                                        title="Animated Video" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <!-- ORDERS TABLE -->
                    <div class="box">
                        <div class="box-header">
                            Day Wise Monitoring
                        </div>
                        <div class="box-body overflow-scroll">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Days</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Order status</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Day 1</td>
                                        <td>2021-05-09</td>
                                        <td>
                                            <span class="order-status order-ready">
                                                Ready
                                            </span>
                                        </td>
                                        <td>
                                            <div class="payment-status payment-pending">
                                                <div class="dot"></div>
                                                <span>Pending</span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Day 2</td>

                                        <td>2021-05-09</td>
                                        <td>
                                            <span class="order-status order-shipped">
                                                Shipped
                                            </span>
                                        </td>
                                        <td>
                                            <div class="payment-status payment-pending">
                                                <div class="dot"></div>
                                                <span>Pending</span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Day 3</td>

                                        <td>2021-05-09</td>
                                        <td>
                                            <span class="order-status order-shipped">
                                                Shipped
                                            </span>
                                        </td>
                                        <td>
                                            <div class="payment-status payment-paid">
                                                <div class="dot"></div>
                                                <span>Paid</span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Day 4</td>

                                        <td>2021-05-09</td>
                                        <td>
                                            <span class="order-status order-shipped">
                                                Shipped
                                            </span>
                                        </td>
                                        <td>
                                            <div class="payment-status payment-paid">
                                                <div class="dot"></div>
                                                <span>Paid</span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Day 5</td>

                                        <td>2021-05-09</td>
                                        <td>
                                            <span class="order-status order-shipped">
                                                Shipped
                                            </span>
                                        </td>
                                        <td>
                                            <div class="payment-status payment-paid">
                                                <div class="dot"></div>
                                                <span>Paid</span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Day 6</td>

                                        <td>2021-05-09</td>
                                        <td>
                                            <span class="order-status order-shipped">
                                                Shipped
                                            </span>
                                        </td>
                                        <td>
                                            <div class="payment-status payment-paid">
                                                <div class="dot"></div>
                                                <span>Paid</span>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Day 7</td>

                                        <td>2021-05-09</td>
                                        <td>
                                            <span class="order-status order-shipped">
                                                Shipped
                                            </span>
                                        </td>
                                        <td>
                                            <div class="payment-status payment-paid">
                                                <div class="dot"></div>
                                                <span>Paid</span>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END ORDERS TABLE -->
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

    <div class="overlay"></div>

    <!-- SCRIPT -->
    <!-- APEX CHART -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- APP JS -->
    <script src="{% static 'js/userdashboard/app.js'%}"></script>
    <script>
        function getGreeting() {
            const now = new Date();
            const hours = now.getHours();
            let greeting = "";

            if (hours < 12) {
                greeting = "Good Morning Mate 😃";
            } else if (hours >= 12 && hours < 17) {
                greeting = "Good Afternoon Mate 😃";
            } else {
                greeting = "Good Evening Mate 😃";
            }

            document.getElementById("greeting").innerText = greeting;
        }

        // Call the function when the page loads
        window.onload = getGreeting;
    </script>

</body>

</html>